<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Reviews</title>
    <link rel="preconnect" href="https://fonts.gstatic.com/%22%3E"/>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../css/main.css">
</head>
<body>
<header th:include="~{/fragments/header :: header}"></header>
<main class="container container--wide">
    <h2>Reviews</h2>
    <form id="delete" th:action="@{/admin/reviews/delete}" method="post"></form>
    <form id="change_shown_status" th:action="@{/admin/reviews/update/shown}" method="post">
        <form method="get" th:action="@{/reviews}" th:object="${reviews}">
            <table class="space--s">
                <tr>
                    <th>choose it</th>
                    <th>User name</th>
                    <th>User phoneNumber</th>
                    <th>review</th>
                    <th>date added</th>
                    <th>shown status</th>
                    <th>delete</th>
                </tr>
                <tr th:each="review:${reviews}">
                    <td><input type="checkbox" name="change_shown_status_review_id" th:value="${review.id}"/></td>
                    <td th:text="${review.userProfileDTO.firstName} + ' ' + ${review.userProfileDTO.lastName}">User
                        name
                    </td>
                    <td th:text=" ${review.userProfileDTO.phoneNumber}">User phoneNumber</td>
                    <td th:text=" ${review.description}">review</td>
                    <td th:text="${{review.date}}">date</td>
                    <td th:text="${review.isShown}">shown</td>
                    <td>
                        <button type="submit" name="deleting_review_id"
                                th:value="${review.id}"
                                form="delete">Delete review
                        </button>
                    </td>
                </tr>
            </table>
        </form>
        <button type="submit" name="change_shown_status_review_id"
                form="change_shown_status">Update reviews status
        </button>
        <ul class="pagination">
            <li th:each="i : ${#numbers.sequence( 1,page.pagesAmount)}"
                th:classappend="${page.currentPageNumber}==${i}?'pagination active':''">
                <a th:href="@{/admin/reviews(current_page=${i})}" th:text="${i}"> </a>
            </li>
        </ul>
    </form>
</main>
<footer class="theme--reversed" th:include="~{/fragments/footer :: footer}"></footer>
</body>
</html>