<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="preconnect" href="https://fonts.gstatic.com/%22%3E"/>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../css/main.css">
</head>
<body>
<header th:include="~{/fragments/header :: header}"></header>
<main class="container container--wide">
    <h2>Users</h2>
    <form action="#" id="delete_users" th:action="@{/admin/users/delete}" method="post">
        <form method="get" th:action="@{/users}" th:object="${users}">
            <table border="1">
                <tr>
                    <th></th>
                    <th>User name</th>
                    <th>email</th>
                    <th>role</th>
                    <th>change role</th>
                    <th>generate new password</th>
                </tr>
                <tr th:each="user:${users}">
                    <td><input type="checkbox" name="deleting_users_id" th:value="${user.id}"/></td>
                    <td th:text="${user.userProfileDTO != null} ?
                ${#strings.trim(user.userProfileDTO.firstName)} + ' ' + ${#strings.trim(user.userProfileDTO.lastName)} : ' '">
                        User name
                    </td>
                    <td th:text="${user.email}">email</td>
                    <td th:text="${user.roleDTO.name}">role</td>
                    <td>
                        <form method="post">
                            <input th:value="${user.id}" th:name="id" hidden/>
                            <select name="role" th:field="${userDTO.roleDTO.id}">
                                <option th:each="role : ${roles}"
                                        th:value="${role.id}"
                                        th:text="${role.name}"
                                        th:if="${role.name == user.roleDTO.name}"
                                        selected></option>
                                <option th:each="role : ${roles}"
                                        th:value="${role.id}"
                                        th:unless="${role.name == user.roleDTO.name}"
                                        th:text="${role.name}"></option>
                            </select>
                            <button type="submit" th:object="${userDTO}" th:formaction="@{/admin/users/update/role}">
                                Change
                            </button>
                        </form>
                    </td>
                    <td>
                        <form method="post">
                            <input th:value="${user.id}" th:name="id" hidden/>
                            <button type="submit" th:object="${userDTO}"
                                    th:formaction="@{/admin/users/update/password}">
                                Generate
                            </button>
                        </form>
                    </td>
                </tr>
            </table>
            <br><br>
        </form>
        <button type="submit" name="deleting_users_id"
                form="delete_users">Delete user
        </button>
        <br><br>
        <li th:each="i : ${#numbers.sequence( 1,page.pagesAmount)}"
            th:classappend="${page.pagesAmount}==${i}">
            <a th:href="@{/admin/users(current_page=${i})}" th:text="${i}"> </a>
        </li>
    </form>
    <br><br>
    <form th:action="@{/admin/users/new}" method="get">
        <button type="submit">Add new user</button>
    </form>
</main>
<footer class="theme--reversed" th:include="~{/fragments/footer :: footer}"></footer>
</body>
</html>
