<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>User profile</title>
</head>
<body>
<form id="update_profile" th:action="@{/user/profile/update/parameters}" method="get"></form>
<form method="get" th:action="@{/user/profile}" th:object="${userProfileDTO}">
    <table border="1">
        <tr>
            <th>first name</th>
            <th>middle name</th>
            <th>last name</th>
            <th>address</th>
            <th>phone number</th>
            <td>change profile</td>
        </tr>
        <tr>
            <td th:text="${userProfileDTO != null} ? ${#strings.trim(userProfileDTO.firstName)} : ' '">
                First name
            </td>
            <td th:text="${userProfileDTO != null} ? ${#strings.trim(userProfileDTO.middleName)} : ' '">
                Middle name
            </td>
            <td th:text="${userProfileDTO != null} ? ${#strings.trim(userProfileDTO.lastName)} : ' '">
                Last name
            </td>
            <td th:text="${userProfileDTO != null} ? ${#strings.trim(userProfileDTO.address)} : ' '">
                Address
            </td>
            <td th:text="${userProfileDTO != null} ? ${#strings.trim(userProfileDTO.phoneNumber)} : ' '">
                Phone Number
            </td>
            <td>
                <button type="submit" name="updateProfile"
                        th:value="${userProfileDTO.id}"
                        form="update_profile"> Change profile
                </button>
            </td>
        </tr>
    </table>
    <br><br>

</form>
<form action="/login" method="get">
    <button type="submit">Back to login page</button>
</form>
</body>
</html>