<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Update profile</title>
</head>
<body>
<form method="post" th:action="@{/user/profile/update/parameters}" th:object="${userProfileDTO}">
    <table>
        <tr>
            <td th:value="${userProfileDTO.lastName}">Last name</td>
            <td><input type="text" th:field="*{lastName}"
                       pattern="^[a-zA-Z]{1,40}$"></td>
            <td th:if="${#fields.hasErrors('lastName')}"
                th:errors="*{lastName}"> Last name Error
            </td>
        </tr>
        <tr>
            <td th:value="${userProfileDTO.middleName}">Middle name</td>
            <td><input type="text" th:field="*{middleName}"
                       pattern="^[a-zA-Z]{1,40}$"></td>
            <td th:if="${#fields.hasErrors('middleName')}"
                th:errors="*{middleName}">Middle name Error
            </td>
        </tr>
        <tr>
            <td th:value="${userProfileDTO.firstName}">First name</td>
            <td><input type="text" th:field="*{firstName}"
                       pattern="^[a-zA-Z]{1,20}$"></td>
            <td th:if="${#fields.hasErrors('firstName')}"
                th:errors="*{firstName}">First name Error
            </td>
        </tr>
        <tr>
            <td th:value="${userProfileDTO.address}">Address</td>
            <td><input type="text" th:field="*{address}"
                       pattern="^[a-zA-Z]{1,20}$"></td>
            <td th:if="${#fields.hasErrors('address')}"
                th:errors="*{address}">Address Error
            </td>
        </tr>
        <tr>
            <td th:value="${userProfileDTO.phoneNumber}">Phone number</td>
            <td><input type="text" th:field="*{phoneNumber}"
                       pattern="^[0-9]{1,20}$"></td>
            <td th:if="${#fields.hasErrors('phoneNumber')}"
                th:errors="*{phoneNumber}">Phone number Error
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit">Update user profile</button>
            </td>
        </tr>
    </table>
</form>
<form method="post" th:action="@{/user/profile/update/password}">
    <table>
        <tr>
            <td>Old password</td>
            <td><input type="text" th:name="old_password"></td>
        </tr>
        <tr>
            <td>New password</td>
            <td><input type="text" th:name="new_password"></td>
        </tr>
        <tr>
            <td>
                <button type="submit">Update user password</button>
            </td>
        </tr>
    </table>
</form>
<form action="/login" method="get">
    <button type="submit">Back to login page</button>
</form>
</body>
</html>