<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Sigh up</title>
    <link rel="preconnect" href="https://fonts.gstatic.com/%22%3E"/>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../css/main.css">
</head>
<body>
<header th:include="~{/fragments/header :: header}"></header>
<main class="container container--wide">
    <form method="post" th:action="@{/registration/new}" th:object="${userDTO}">
        <div class="space--xs">
            <label for="lastName">Last name</label>
            <input id="lastName" type="text" th:field="*{userProfileDTO.lastName}" required
                   pattern="^[a-zA-Z]{1,40}$">
            <span th:if="${#fields.hasErrors('userProfileDTO.lastName')}" th:errors="*{userProfileDTO.lastName}">
                Last name Error
            </span>
        </div>
        <div class="space--xs">
            <label for="middleName">Middle name</label>
            <input id="middleName" type="text" th:field="*{userProfileDTO.middleName}" pattern="^[a-zA-Z]{0,40}$">
            <span th:if="${#fields.hasErrors('userProfileDTO.middleName')}"
                  th:errors="*{userProfileDTO.middleName}">Middle name Error
            </span>
        </div>
        <div class="space--xs">
            <label for="firstName">First name</label>
            <input id="firstName" type="text" th:field="*{userProfileDTO.firstName}" required
                   pattern="^[a-zA-Z]{1,20}$">
            <span th:if="${#fields.hasErrors('userProfileDTO.firstName')}"
                  th:errors="*{userProfileDTO.firstName}">First name Error
            </span>
        </div>
        <div class="space--xs">
            <label for="email">Email</label>
            <input id="email" type="email" th:field="*{email}" required
                   pattern="^([a-z0-9_-]+\.)*[a-z0-9_-]+@[a-z0-9_-]+(\.[a-z0-9_-]+)*\.[a-z]{2,6}$">
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</span>
        </div>
        <input class="hidden" th:value="${userDTO.roleDTO.id}" th:name="role_id" hidden/>
        <button class="space--xs" type="submit">Sign up</button>
    </form>
</main>
<footer class="theme--reversed" th:include="~{/fragments/footer :: footer}"></footer>
</body>
</html>