<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Items</title>
    <link rel="preconnect" href="https://fonts.gstatic.com/%22%3E"/>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../css/main.css">
</head>
<body>
<header th:include="~{/fragments/header :: header}"></header>
<main class="container container--wide">
    <form id="add_item" th:action="@{/user/customer/orders/create}" method="post">
        <form th:action="@{/user/customer/items}" method="get" th:object="${items}">
            <table border="1">
                <tr>
                    <th>chosen item</th>
                    <th>item</th>
                    <th>price</th>
                    <th>category</th>
                    <th>link to description</th>
                    <th>amount</th>
                </tr>
                <tr th:each="item:${items}">
                    <td><input type="checkbox" name="added_item" th:value="${item.id}"/></td>
                    <td th:text="${item.userId}" hidden></td>
                    <td th:text="${item.name}">item</td>
                    <td th:text="${item.price}">price</td>
                    <td th:text="${item.itemCategoryDTO.name}">category</td>
                    <td th:name="chosen_item" th:value="${item.id}"><a
                            th:href="@{/user/customer/items/description(chosen_item=${item.id})}"
                            th:text="${item.name}">description</a></td>
                    <td><input type="number" th:name="${item_amount}" placeholder="amount">amount</td>
                </tr>
            </table>
            <li th:each="i : ${#numbers.sequence( 1,page.pagesAmount)}"
                th:classappend="${page.pagesAmount}==${i}">
                <a th:href="@{/user/sale/items(current_page=${i})}" th:text="${i}"> </a>
            </li>
            <br><br>
            <button type="submit" name="added_item" th:value="${item_amount}"
                    form="add_item">Add selected items
            </button>
            <br><br>
        </form>
    </form>
    <br><br>
</main>
<footer class="theme--reversed" th:include="~{/fragments/footer :: footer}"></footer>
</body>
</html>