<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Start page</title>
    <link rel="preconnect" href="https://fonts.gstatic.com/%22%3E"/>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../css/main.css">
</head>
<body>
<header th:include="~{/fragments/header :: header}"></header>
<main class="container container--wide">
<form method="get" th:action="@{/user/customer/start}">
    <table border="1">
        <tr>
            <th>categories</th>
        </tr>
        <tr th:each="category:${categories}">
            <td th:text="${category.id}" hidden></td>
            <td th:name="chosen_category" th:value="${category.id}"><a
                    th:href="@{/user/customer/items/category(chosen_category=${category.id})}"
                    th:text="${category.name}">category</a></td>
        </tr>
    </table>
    <br><br>
    <table border="1">
        <tr>
            <th>sales</th>
        </tr>
        <tr th:each="sale:${sales}">
            <td th:text="${sale.id}" hidden></td>
            <td th:name="chosen_sale" th:value="${sale.id}"><a
                    th:href="@{/user/customer/sales/description(chosen_sale=${sale.id})}"
                    th:text="${sale.name}">sale</a></td>
        </tr>
    </table>
    <br><br>
    <table border="1">
        <tr>
            <th>last articles</th>
        </tr>
        <tr th:each="article:${articles}">
            <td th:text="${article.id}" hidden></td>
            <td th:name="chosen_article" th:value="${article.id}"><a
                    th:href="@{/user/customer/articles/description(chosen_article=${article.id})}"
                    th:text="${article.name}">sale</a></td>
        </tr>
    </table>
</form>
</main>
<footer class="theme--reversed" th:include="~{/fragments/footer :: footer}"></footer>
</body>
</html>