<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>All article</title>
    <link rel="preconnect" href="https://fonts.gstatic.com/%22%3E"/>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../css/main.css">
</head>
<body>
<header th:include="~{/fragments/header :: header}"></header>
<main class="container container--wide">
    <form method="get" th:action="@{/user/customer/articles}" th:object="${articles}">
        <table border="1">
            <tr>
                <th>date added</th>
                <th>name</th>
                <th>author</th>
                <th>short description</th>
                <th>link to full description</th>
            </tr>
            <tr th:each="article:${articles}">
                <td th:text="${article.dateAdded}">date added</td>
                <td th:text="${article.name}">name</td>
                <td th:text="${article.user.userProfileDTO.firstName} + ' ' + ${article.user.userProfileDTO.lastName}">author</td>
                <td th:text="${article.shortDescription}">short description</td>
                <td th:name="chosen_article" th:value="${article.id}"><a
                        th:href="@{/user/customer/articles/description(chosen_article=${article.id})}"
                        th:text="${article.name}">full description</a></td>
            </tr>
        </table>
        <br><br>
        <li th:each="i : ${#numbers.sequence( 1,page.pagesAmount)}"
            th:classappend="${page.pagesAmount}==${i}">
            <a th:href="@{/user/customer/articles(current_page=${i})}" th:text="${i}"> </a>
        </li>
    </form>
    <br><br>
</main>
<footer class="theme--reversed" th:include="~{/fragments/footer :: footer}"></footer>
</body>
</html>