<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Start page</title>
    <link rel="preconnect" href="https://fonts.gstatic.com/%22%3E"/>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../css/main.css">
</head>
<body>
<header th:include="~{/fragments/header :: header}"></header>
<main class="container container--wide">
    <form method="get" th:action="@{/user/customer/start}">
        <h2>Categories</h2>
        <ul class="menu">
            <li th:each="category:${categories}">
                <span th:text="${category.id}" hidden></span>
                <span th:name="chosen_category" th:value="${category.id}">
                    <a th:href="@{/user/customer/items/category(chosen_category=${category.id})}"
                       th:text="${category.name}">category</a></span>
            </li>
        </ul>
        <h2>Shops</h2>
        <ul class="menu">
            <li th:each="sale:${sales}">
                <span th:text="${sale.id}" hidden></span>
                <span th:name="chosen_sale" th:value="${sale.id}"><a
                        th:href="@{/user/customer/sales/description(chosen_sale=${sale.id})}"
                        th:text="${sale.name}">sale</a></span>
            </li>
        </ul>
        <h2>Last Articles</h2>
        <ul class="menu">
            <li th:each="article:${articles}" th:if="${article != null}">
                <span class="hidden" th:text="${article.id}" hidden></span>
                <span th:name="chosen_article" th:value="${article.id}"><a
                        th:href="@{/user/customer/articles/description(chosen_article=${article.id})}"
                        th:text="${article.name}">article</a></span>
                <span th:text="${article.shortDescription}">short description of article</a></span>
            </li>
        </ul>
    </form>
</main>
<footer class="theme--reversed" th:include="~{/fragments/footer :: footer}"></footer>
</body>
</html>