<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Reviews</title>
</head>
<body>
<h2>Reviews</h2>
<form id="delete" th:action="@{/admin/reviews/delete}" method="post"></form>
<form id="change_shown_status" th:action="@{/admin/reviews/update/shown}" method="post">
    <form method="get" th:action="@{/reviews}" th:object="${reviews}">
        <table border="1">
            <tr>
                <th></th>
                <th>User</th>
                <th>review</th>
                <th>date added</th>
                <th>shown status</th>
                <th>delete</th>
            </tr>
            <tr th:each="review:${reviews}">
                <td><input type="checkbox" name="change_shown_status_review_id" th:value="${review.id}"/></td>
                <td th:text="${review.userInformationDTO}">User name</td>
                <td th:text="${review.description}">review</td>
                <td th:text="${review.date}">date</td>
                <td th:text="${review.shown}">shown</td>
                <td>
                    <button type="submit" name="deleting_review_id"
                            th:value="${review.id}"
                            form="delete">Delete item
                    </button>
                </td>
            </tr>
        </table>
        <br><br>
    </form>
    <button type="submit" name="change_shown_status_review_id"
            form="change_shown_status">Update reviews status
    </button>
    <li th:each="i : ${#numbers.sequence( 1,page.pagesAmount)}"
        th:classappend="${page.pagesAmount}==${i}">
        <a th:href="@{/admin/reviews(current_page=${i})}" th:text="${i}"> </a>
    </li>
</form>
<br><br>
<form action="/login" method="get">
    <button type="submit">Back to login page</button>
</form>
</body>
</html>