<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Items</title>
</head>
<body>
<form id="copy" th:action="@{/user/sale/items/copy}" method="post"></form>
<form id="delete" th:action="@{/user/sale/items/delete}" method="post">
    <form th:action="@{/user/sale/items}" method="get" th:object="${items}">
        <table border="1">
            <tr>
                <th></th>
                <th>name</th>
                <th>unique number</th>
                <th>price</th>
                <th>category</th>
                <th>link to description</th>
                <th>copy</th>
            </tr>
            <tr th:each="item:${items}">
                <td><input type="checkbox" name="deleting_item" th:value="${item.id}"/></td>
                <td th:text="${item.name}">name</td>
                <td th:text="${item.getUniqueNumber}">unique number</td>
                <td th:text="${item.price}">price</td>
                <td th:text="${item.category}">category</td>
                <td th:name="chosen_item" th:value="${item.id}"><a
                        th:href="@{/user/sale/items/description(chosen_item=${item.id})}"
                        th:text="${item.name}">description</a></td>
                <td>
                    <button type="submit" name="copy_item_id"
                            th:value="${item.id}"
                            form="copy">Copy item
                    </button>
                </td>
            </tr>
        </table>
        <br><br>
        <button type="submit" name="deleting_item"
                form="delete">Delete selected items
        </button>
        <li th:each="i : ${#numbers.sequence( 1,page.pagesAmount)}"
            th:classappend="${page.pagesAmount}==${i}">
            <a th:href="@{/user/sale/items(current_page=${i})}" th:text="${i}"> </a>
        </li>
    </form>
</form>
<br><br>
<form action="/login" method="get">
    <button type="submit">Back to login page</button>
</form>
</body>
</html>