<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.gstatic.com/%22%3E"/>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../css/main.css">
</head>
<body>
<main class="container container--narrow">
    <form class="form" method="post" th:action="@{/login}">
        <h1> Sign in </h1>
        <div class="alert space--xs" th:if="${loginError}">
            Invalid email or password
        </div>
        <div class="space--xs">
            <label for="email">Email</label>
            <input id="email" type="email" name="email" placeholder="email" required>
        </div>
        <div class="space--s">
            <label for="password">Password</label>
            <input id="password" type="password" name="password" placeholder="password" required>
        </div>
        <button type="submit">Sign in</button>
    </form>
</main>
</body>
</html>