<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Order details</title>
</head>
<body>
<form method="post" th:action="@{/user/sale/orders/description/update}" th:object="${order}">
    <table>
        <tr>
            <td th:value="${order.id}" hidden></td>
        </tr>
        <tr>
            <td th:value="${order.status}">status</td>
            <td>
                <select name="status" th:field="${order.status}">
                    <option th:each="status : ${statuses}"
                            th:value="${status}" name="status_name"
                            th:text="${status}">status
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit" name="update_order_id" th:value="${order.id}"> Update order details
                </button>
            </td>
        </tr>
    </table>
    <br><br>
</form>
</body>
</html>