<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Article</title>
</head>
<body>
<form id="update" th:action="@{/user/sale/articles/description/update}" method="get"></form>
<form id="delete_comments" th:action="@{/user/sale/articles/description/comments/delete}" method="post">
    <form method="get" th:action="@{/user/sale/articles/description}" th:object="${article}">
        <table border="1">
            <tr>
                <th>date added</th>
                <th>name</th>
                <th>author</th>
                <th>full description</th>
                <th>update</th>
            </tr>
            <tr>
                <td th:text="${article.id}" hidden>id</td>
                <td th:text="${article.dateAdded}">date added</td>
                <td th:text="${article.name}">name</td>
                <td th:text="${article.user.userProfileDTO.firstName} + ' ' + ${article.user.userProfileDTO.lastName}">author</td>
                <td th:text="${article.fullDescription}">full description</td>
                <td>
                    <button type="submit" name="update_article_id"
                            th:value="${article.id}"
                            form="update">Update
                    </button>
                </td>
            </tr>
        </table>
        <br><br>
        Comments
        <table border="1">
            <tr>
                <th></th>
                <th>date added</th>
                <th>user</th>
                <th>description</th>
            </tr>
            <tr th:each="comment:${article.comments}">
                <th><input type="checkbox" name="delete_comment_id" th:value="${comment.id}"/></th>
                <td th:text="${comment.dateAdded}">date</td>
                <td th:text="${comment.userLastName} + ' ' + ${comment.userFirstName}">user</td>
                <td th:text="${comment.description}">description</td>
            </tr>
        </table>
        <br><br></form>
    <button type="submit" name="delete_comment_id"
            form="delete_comments">Delete comments
    </button>
    <br><br>
</form>
<form th:action="@{/user/sale/articles}" method="get">
    <button type="submit">Back to articles page</button>
</form>
<br><br>
<form th:action="@{/user/sale/start}" method="get">
    <button type="submit">Back to start page</button>
</form>
<br><br>
<form action="/login" method="get">
    <button type="submit">Back to login page</button>
</form>
</body>
</html>