<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Update shop profile</title>
    <link rel="preconnect" href="https://fonts.gstatic.com/%22%3E"/>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<header th:include="~{/fragments/header :: header}"></header>
<main class="container container--wide">
    <form method="post" th:action="@{/user/sale/shop/update/parameters}" th:object="${shop}">
        <div class="space--s">
            <label for="name" th:value="${shop.name}">name</label>
            <input id="name" type="text" th:field="*{name}" pattern="^[a-zA-Z]{1,40}$">
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"> Name Error </span>
        </div>
        <div class="space--s">
            <label for="certificate" th:value="${shop.certificate}">Certificate</label>
            <input id="certificate" type="text" th:field="*{certificate}">
            <span th:if="${#fields.hasErrors('certificate')}" th:errors="*{certificate}">Certificate Error </span>
        </div>
        <button type="submit">Update shop profile</button>
    </form>
</main>
<footer class="theme--reversed" th:include="~{/fragments/footer :: footer}"></footer>
</body>
</html>