<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
</head>
<body>
<form th:action="@{/user/sale/orders}" method="get" th:object="${orders}">
    <table border="1">
        <tr>
            <th>order number</th>
            <th>status</th>
            <th>item</th>
            <th>amount</th>
            <th>final price</th>
            <th>link to description</th>
        </tr>
        <tr th:each="order:${orders}">
            <td th:text="${order.number}">order number</td>
            <td th:text="${order.status}">status</td>
            <td th:text="${order.item.name}">item</td>
            <td th:text="${order.itemAmount}">amount</td>
            <td th:text="${order.price}">final price</td>
            <td th:name="chosen_order" th:value="${order.id}"><a
                    th:href="@{/user/sale/orders/description(chosen_order=${order.id})}"
                    th:text="${order.number}">description</a></td>
        </tr>
    </table>
    <li th:each="i : ${#numbers.sequence( 1,page.pagesAmount)}"
        th:classappend="${page.pagesAmount}==${i}?'active':''">
        <a th:href="@{/user/sale/items(current_page=${i})}" th:text="${i}"> </a>
    </li>
    <br><br>
</form>
<form action="/login" method="get">
    <button type="submit">Back to login page</button>
</form>
</body>
</html>