<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Add new item</title>
    <link rel="preconnect" href="https://fonts.gstatic.com/%22%3E"/>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<header th:include="~{/fragments/header :: header}"></header>
<main class="container container--wide">
    <form method="post" th:action="@{/user/sale/items/add}" th:object="${item}">
        <table class="space--s">
            <tr>
                <td>Name</td>
                <td><input type="text" th:field="*{name}" required maxlength="40"></td>
                <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
                    Name Error
                </td>
            </tr>
            <tr>
                <td>Description</td>
                <td><input type="text" th:field="*{description}" maxlength="200"></td>
                <td th:if="${#fields.hasErrors('description')}"
                    th:errors="*{description}">Description Error
                </td>
            </tr>
            <tr>
                <td>Price</td>
                <td><input type="number" th:field="*{price}" required></td>
                <td th:if="${#fields.hasErrors('price')}"
                    th:errors="*{price}">Price Error
                </td>
            </tr>
            <tr>
                <td>Category</td>
                <td>
                    <select name="category" th:field="${item.itemCategoryDTO.id}">
                        <option th:each="category : ${categories}"
                                th:value="${category.id}"
                                th:text="${category.name}">category
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit">Add new item</button>
                </td>
            </tr>
        </table>
    </form>
</main>
<footer class="theme--reversed" th:include="~{/fragments/footer :: footer}"></footer>
</body>
</html>