<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Add article</title>
    <link rel="preconnect" href="https://fonts.gstatic.com/%22%3E"/>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<header th:include="~{/fragments/header :: header}"></header>
<main class="container container--wide">
    <form method="post" th:action="@{/user/sale/articles/add}" th:object="${article}">
        <table class="space--s">
            <tr>
                <td>Name</td>
                <td><input type="text" th:field="*{name}" required maxlength="40" max="40"></td>
                <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
                    Name Error
                </td>
            </tr>
            <tr>
                <td>Short Description</td>
                <td><input type="text" th:field="*{shortDescription}" maxlength="200" max="200"></td>
                <td th:if="${#fields.hasErrors('shortDescription')}"
                    th:errors="*{shortDescription}">Short Description Error
                </td>
            </tr>
            <tr>
                <td>Full Description</td>
                <td><textarea class="smaller" type="text" th:field="*{fullDescription}" maxlength="1000"
                              max="1000"></textarea></td>
                <td th:if="${#fields.hasErrors('fullDescription')}"
                    th:errors="*{fullDescription}">Full Description Error
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit">Add new article</button>
                </td>
            </tr>
        </table>
    </form>
</main>
<footer class="theme--reversed" th:include="~{/fragments/footer :: footer}"></footer>
</body>
</html>