<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Order details</title>
    <link rel="preconnect" href="https://fonts.gstatic.com/%22%3E"/>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<header th:include="~{/fragments/header :: header}"></header>
<main class="container container--wide">
    <form id="update_order" th:action="@{/user/sale/orders/description/update}" method="get"></form>
    <form method="get" th:action="@{/user/sale/orders/description}" th:object="${order}">
        <table class="space--s">
            <tr>
                <th>order number</th>
                <th>status</th>
                <th>item</th>
                <th>amount</th>
                <th>user</th>
                <th>user phone</th>
                <th>final price</th>
                <th>link to description</th>
            </tr>
            <tr>
                <td th:text="${order.number}">number</td>
                <td th:text="${order.status}">status</td>
                <td th:text="${order.item.name}">item</td>
                <td th:text="${order.itemAmount}">item amount</td>
                <td th:text="${order.user.email}">user</td>
                <td th:text="${order.user.userProfileDTO.phoneNumber}">user phone</td>
                <td th:text="${order.price}">final price</td>
                <td>
                    <button type="submit" name="update_order_id"
                            th:value="${order.id}"
                            form="update_order"> Update order details
                    </button>
                </td>
            </tr>
        </table>
    </form>
</main>
<footer class="theme--reversed" th:include="~{/fragments/footer :: footer}"></footer>
</body>
</html>